* {
  box-sizing: border-box;
}
body {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0px;
  padding: 8px;
  position: absolute;
  width: 100%;
}
.d-none {
  display: none;
}
.title {
  text-align: center;
}
table.prescription tr.slots th {
  padding: 0 10px;
}
table.prescription td.day {
  padding: 0 10px;
  text-align: right;
}
table.prescription td.take {
  text-align: center;
}
table.legend td.key {
  font-weight: bold;
  text-align: right;
}
